<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
@{ 
        Layout = null;
}
<!-- Mirrored from getbootstrapadmin.com/remark/material/center/pages/error-500.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 08 Nov 2019 20:54:14 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap material admin template">
    <meta name="author" content="">

    <title>Giriş Yap</title>

    <link rel="apple-touch-icon" href="~/AdminContent/assets/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="~/AdminContent/assets/images/favicon.ico">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/AdminContent/css/bootstrap.minfd53.css?v4.0.1">
    <link rel="stylesheet" href="~/AdminContent/css/bootstrap-extend.minfd53.css?v4.0.1">
    <link rel="stylesheet" href="~/AdminContent/assets/css/site.minfd53.css?v4.0.1">

    <!-- Skin tools (demo site only) -->
    <link rel="stylesheet" href="~/AdminContent/css/skintools.minfd53.css?v4.0.1">
    <script src="~/AdminContent/assets/js/Plugin/skintools.minfd53.js?v4.0.1"></script>

    <!-- Plugins -->
    <link rel="stylesheet" href="~/AdminContent/vendor/animsition/animsition.minfd53.css?v4.0.1">
    <link rel="stylesheet" href="~/AdminContent/vendor/asscrollable/asScrollable.minfd53.css?v4.0.1">
    <link rel="stylesheet" href="~/AdminContent/vendor/switchery/switchery.minfd53.css?v4.0.1">
    <link rel="stylesheet" href="~/AdminContent/vendor/intro-js/introjs.minfd53.css?v4.0.1">
    <link rel="stylesheet" href="~/AdminContent/vendor/slidepanel/slidePanel.minfd53.css?v4.0.1">
    <link rel="stylesheet" href="~/AdminContent/vendor/flag-icon-css/flag-icon.minfd53.css?v4.0.1">
    <link rel="stylesheet" href="~/AdminContent/vendor/waves/waves.minfd53.css?v4.0.1">

    <!-- Page -->
    <link rel="stylesheet" href="~/AdminContent/assets/examples/css/pages/errors.minfd53.css?v4.0.1">

    <!-- Fonts -->
    <link rel="stylesheet" href="~/AdminContent/fonts/material-design/material-design.minfd53.css?v4.0.1">
    <link rel="stylesheet" href="~/AdminContent/fonts/brand-icons/brand-icons.minfd53.css?v4.0.1">
    <link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,700">


    <!--[if lt IE 9]>
      <script src="~/AdminContent/vendor/html5shiv/html5shiv.min.js?v4.0.1"></script>
      <![endif]-->
    <!--[if lt IE 10]>
      <script src="~/AdminContent/vendor/media-match/media.match.min.js?v4.0.1"></script>
      <script src="~/AdminContent/vendor/respond/respond.min.js?v4.0.1"></script>
      <![endif]-->
    <!-- Scripts -->
    <script src="~/AdminContent/vendor/breakpoints/breakpoints.minfd53.js?v4.0.1"></script>
    <script>
        Breakpoints();
    </script>
</head>
<body class="animsition page-error page-error-505 layout-full">
    <!--[if lt IE 8]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
    <!-- Page -->
    <div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
        <div class="page-content vertical-align-middle">
            <header>
                <h1 class="animation-slide-top">Giriş Yap</h1>
                <p>Sayfayı bulamadık</p>
            </header>
            <p class="error-advise">Sayfayı yenile istersen belki geri gelirsin ama unutma giden gitmiştir gittiği gün bitmiştir </p>
            <a class="btn btn-primary btn-round" href=".@Url.Action("Index","Home",new {Area="Admin" })">Anasayfaya Git</a>

            <a class="btn btn-primary btn-round" href=".@Url.Action("Login","Home",new { Area = "Admin" })">Giriş'e Git</a>

            <footer class="page-copyright">
                <p>WEBSITE BY Furkan </p>
                <p>© @DateTime.Now.Year. All RIGHT RESERVED.</p>
                <div class="social">
                    <a class="btn btn-icon btn-pure" href="javascript:void(0)">
                        <i class="icon bd-twitter" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-icon btn-pure" href="javascript:void(0)">
                        <i class="icon bd-facebook" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-icon btn-pure" href="javascript:void(0)">
                        <i class="icon bd-google-plus" aria-hidden="true"></i>
                    </a>
                </div>
            </footer>
        </div>
    </div>
    <!-- End Page -->
    <!-- Core  -->
    <script src="~/AdminContent/vendor/babel-external-helpers/babel-external-helpersfd53.js?v4.0.1"></script>
    <script src="~/AdminContent/vendor/jquery/jquery.minfd53.js?v4.0.1"></script>
    <script src="~/AdminContent/vendor/popper-js/umd/popper.minfd53.js?v4.0.1"></script>
    <script src="~/AdminContent/vendor/bootstrap/bootstrap.minfd53.js?v4.0.1"></script>
    <script src="~/AdminContent/vendor/animsition/animsition.minfd53.js?v4.0.1"></script>
    <script src="~/AdminContent/vendor/mousewheel/jquery.mousewheel.minfd53.js?v4.0.1"></script>
    <script src="~/AdminContent/vendor/asscrollbar/jquery-asScrollbar.minfd53.js?v4.0.1"></script>
    <script src="~/AdminContent/vendor/asscrollable/jquery-asScrollable.minfd53.js?v4.0.1"></script>
    <script src="~/AdminContent/vendor/ashoverscroll/jquery-asHoverScroll.minfd53.js?v4.0.1"></script>
    <script src="~/AdminContent/vendor/waves/waves.minfd53.js?v4.0.1"></script>

    <!-- Plugins -->
    <script src="~/AdminContent/vendor/switchery/switchery.minfd53.js?v4.0.1"></script>
    <script src="~/AdminContent/vendor/intro-js/intro.minfd53.js?v4.0.1"></script>
    <script src="~/AdminContent/vendor/screenfull/screenfull.minfd53.js?v4.0.1"></script>
    <script src="~/AdminContent/vendor/slidepanel/jquery-slidePanel.minfd53.js?v4.0.1"></script>

    <!-- Scripts -->
    <script src="~/AdminContent/js/State.minfd53.js?v4.0.1"></script>
    <script src="~/AdminContent/js/Component.minfd53.js?v4.0.1"></script>
    <script src="~/AdminContent/js/Plugin.minfd53.js?v4.0.1"></script>
    <script src="~/AdminContent/js/Base.minfd53.js?v4.0.1"></script>
    <script src="~/AdminContent/js/Config.minfd53.js?v4.0.1"></script>

    <script src="~/AdminContent/assets/js/Section/Menubar.minfd53.js?v4.0.1"></script>
    <script src="~/AdminContent/assets/js/Section/Sidebar.minfd53.js?v4.0.1"></script>
    <script src="~/AdminContent/assets/js/Section/PageAside.minfd53.js?v4.0.1"></script>
    <script src="~/AdminContent/assets/js/Plugin/menu.minfd53.js?v4.0.1"></script>

    <!-- Config -->
    <script src="~/AdminContent/js/config/colors.minfd53.js?v4.0.1"></script>
    <script src="~/AdminContent/assets/js/config/tour.minfd53.js?v4.0.1"></script>
    <script>
        Config.set('assets', '../assets');
    </script>

    <!-- Page -->
    <script src="~/AdminContent/assets/js/Site.minfd53.js?v4.0.1"></script>
    <script src="~/AdminContent/js/Plugin/asscrollable.minfd53.js?v4.0.1"></script>

    <script src="~/AdminContent/js/Plugin/slidepanel.minfd53.js?v4.0.1"></script>
    <script src="~/AdminContent/js/Plugin/switchery.minfd53.js?v4.0.1"></script>


    <script>
        (function (document, window, $) {
            'use strict';

            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });
        })(document, window, jQuery);
    </script>


    <!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../../../../www.google-analytics.com/analytics.js',
            'ga');

        ga('create', 'UA-65522665-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>


<!-- Mirrored from getbootstrapadmin.com/remark/material/center/pages/error-500.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 08 Nov 2019 20:54:14 GMT -->
</html>