
<style>
    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    .topnav {
        overflow: hidden;
        background-color: #333;
    }

        .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

            .topnav a:hover {
                background-color: #ddd;
                color: black;
            }

            .topnav a.active {
                background-color: #4CAF50;
                color: white;
            }
</style>

<div class="row" id="MainFormRow">
    <div class="col-md-3 offset-md-1">
        <img class="profile-img rounded-circle img-fluid" id="ImgBox" src="~/logo.jpg" alt="profile-img">
    </div>
    <div class="col-md-7 home-header-text">
        <h1>Bunları Biliyor musun ?</h1>

        <div class="panel panel-default">
            <div class="panel-heading"> <h4 id="Title">Hoş Geldin</h4> </div>
            <div class="panel-body"> <p id="Content" style="color:black"> Aşağıdaki değiştir butonuna basarak yeni bilgiler ve hayatına renk katabilirsin.</p></div>
        </div>


        <input type="button" class="button content-link" id="btnChange" value="Değiştir" />
    </div>

</div>
@if (HttpContextAccessor.HttpContext.Session.GetString("Login") != null)
{
<div class="dnone container page-bg" id="ProfileFormRow">
    <div class="row">
        <div class="col-md-12">
            <div class="description-text">
                <p>Profilinizi bu kısımdan yönetebilirsiniz. </p>
            </div>
        </div>
    </div>
    <!-- ./row -->
    <!-- PORTFOLIO -->
    <div class="portfolio-section">
        <div class="topnav">
            <a href="#AppUserProfile">Profilim</a>
            <a href="#ChangePassword">Şifremi Değiştir</a>
            <a href="#SystemSettings">Sistem Ayarları</a>
            <a href="#about">Hakkımızda</a>
        </div>
    </div>

    <div class="dnone row" id="AppUserProfile">
        <div class="col-md-8 order-md-1 order-2">
            <form id="UpdateAppUserInformationForm" data-toggle="validator" class="shake" asp-action="UpdateAppUserInformation" asp-controller="Home" autocomplete="off" data-ajax="true" data-ajax-method="post" data-ajax-complete="completed">
                <div class="form-group">
                    Kullanıcı Adı
                    <!-- ENTER MANE -->
                    <input type="text" class="form-control" name="UserName" disabled id="UserName" placeholder="Kullanıcı Adı" required data-error="Lütfen Kullanıcı Adını Giriniz">
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    Mail Adresi
                    <input type="email" class="form-control" id="email" disabled placeholder="Enter email" required data-error="Mail Adresinizi Giriniz">
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    Ad
                    <!-- ENTER MANE -->
                    <input type="text" class="form-control" name="Name" id="Name" placeholder="Adı" required data-error="Adınızı Giriniz">
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                    Soyad
                    <!-- ENTER MANE -->
                    <input type="text" class="form-control" name="Surname" id="Surname" placeholder="Soyadı" required data-error="Soyadınızı Giriniz">
                    <div class="help-block with-errors"></div>
                </div>


                <!-- button form submit -->
                <div class="submit">
                    <div class="content-button">
                        <button id="form-submit-UpdateAppUserInformationForm" type="submit" class="button-form">Gönder</button>
                    </div>
                    <div id="msgSubmit" class="h5 h5 text-danger hidden"></div>
                </div>
            </form>
        </div>
    </div>

    <div class="dnone row" id="ChangePassword">
        <div class="col-md-8 order-md-1 order-2">
            <form id="ChangePasswordForm" data-toggle="validator" class="shake" asp-action="ChangePassword" asp-controller="Home" autocomplete="off" data-ajax="true" data-ajax-method="post" data-ajax-complete="completed">
                <div class="form-group">
                    Şuanki Şifre
                    <!-- ENTER MANE -->
                    <div class="form-group">
                        <!-- ENTER MESSAGE -->
                        <input type="password" class="form-control" name="NowPassword" id="NowPassword" placeholder="Şuanki Şifrenizi Giriniz" required data-error="Şuanki Şifrenizi Giriniz">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="form-group">
                    Yeni Şifre
                    <!-- ENTER MESSAGE -->
                    <input type="password" class="form-control" name="Password" id="Password" placeholder="Yeni Şifrenizi Giriniz" required data-error="Yeni Şifrenizi Giriniz">
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    Yeni Şifre Tekrar
                    <!-- ENTER MESSAGE -->
                    <input type="password" class="form-control" name="RePassword" id="RePassword" placeholder="Yeni Şifrenizi Tekrar Giriniz" required data-error="Yeni Şifrenizi Tekrar Giriniz">
                    <div class="help-block with-errors"></div>
                </div>

                <!-- button form submit -->
                <div class="submit">
                    <div class="content-button">
                        <button id="form-submit-ChangePasswordForm" type="submit" class="button-form">Gönder</button>
                    </div>
                    <div id="msgSubmit" class="h5 h5 text-danger hidden"></div>
                </div>
            </form>
        </div>
    </div>

    <div class="dnone row" id="SystemSettings">
        <form id="ResetAllInformationForm" data-toggle="validator" class="shake" asp-action="ResetAllInformation" asp-controller="Home" autocomplete="off" data-ajax="true" data-ajax-method="post" data-ajax-complete="completed">
            <div class="col-md-8 order-md-2 order-2">
                <div class="content-button">
                    <button id="form-submit-SystemSettingsReset" type="submit" class="button-form">Tüm Görüntülediğim Bilgileri Sıfırla</button>
                </div>

            </div>
        </form>
    </div>

    <!-- /.resume-section -->
</div>
 <!-- /.container page-bg -->
}
else
{
<div class="dnone container page-bg" id="ProfileFormRow">
    <div class="row">
        @*<div class="col-md-12">
                <div class="description-text">
                    <p>Nam odio quam, cursus sed scelerisque vel, tincidunt non ligula. Praesent luctus nunc ut magna pharetra, eget lacinia justo tempus. Nunc maximus scelerisque volutpat. Integer auctor velit eget eros pellentesque, nec tristique urna pulvinar. Nulla volutpat elit eu sodales lacinia.Nam odio quam, cursus sed scelerisque vel, tincidunt non ligula. Praesent luctus nunc ut magna pharetra, eget lacinia justo tempus.</p>
                </div>
            </div>*@
    </div>
    <!-- ./row -->
    <div class="form-content">
        <div class="row">
            <div class="col-md-12">
                <h4 class="title-text">Giriş Yap</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 order-md-1 order-2">
                <form id="Loginform" data-toggle="validator" class="shake" asp-action="Login" asp-controller="Home" autocomplete="off" data-ajax="true" data-ajax-method="post" data-ajax-complete="completed">
                    <div class="form-group">
                        <!-- ENTER MANE -->
                        <input type="text" class="form-control" name="UserName" id="UserName" placeholder="Kullanıcı Adı" required data-error="Lütfen Kullanıcı Adını Giriniz">
                        <div class="help-block with-errors"></div>
                    </div>
                    @*<div class="form-group">
                             ENTER EMAIL
                            <input type="email" class="form-control" id="email" placeholder="Enter email" required data-error="Please enter your email address">
                            <div class="help-block with-errors"></div>
                        </div>*@
                    <div class="form-group">
                        <!-- ENTER MESSAGE -->
                        <input type="password" class="form-control" name="password" id="Password" placeholder="Şifre" required data-error="Lütfen Şifreyi giriniz">
                        <div class="help-block with-errors"></div>
                    </div>
                    <!-- button form submit -->
                    <div class="submit">
                        <div class="content-button">
                            <button id="form-submit-Loginform" type="submit" class="button-form">Gönder</button>
                        </div>
                        <div id="msgSubmit" class="h5 h5 text-danger hidden"></div>
                    </div>
                </form>
            </div>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.form-content -->
</div>
}
<!-- /.container page-bg -->




<script>






    @section JsPackage{
    $(document).ready(function () {

        function Close() {
         $('#MainFormRow').hide();
         $('#ProfileFormRow').hide();
        }

        Jform('#Loginform');
        Jform('#UpdateAppUserInformationForm');
        Jform('#ChangePasswordForm');
        Jform('#ResetAllInformationForm');


        $('.LoginIcon').click(function () {
             Close();
            $('#ProfileFormRow').show();
        });

          $('.HomeIcon').click(function () {
             Close();
            $('#MainFormRow').show();
        });


    });


    $('a[href="#AppUserProfile"]').click(function () {
                closeAllProfileFormRow();
           $.ajax({
            type: 'post',
            url: '@Url.Action("GetAppUserInformation","Home")',
            processData: false,
            contentType: false
        }).done(function (result) {
            if (result.message == "succes") {
                  $('#AppUserProfile').show();
                    $("#UserName").val(result.data.username);
                    $("#email").val(result.data.email);
                    $("#Name").val(result.data.name);
                    $("#Surname").val(result.data.surname);
                    $('a[href="#AppUserProfile"]').addClass('active');

            }
            else {

            }
        });
    });

    $('a[href="#ChangePassword"]').click(function () {
        closeAllProfileFormRow();
         $('#ChangePassword').show();
          $('a[href="#ChangePassword"]').addClass('active');
    });

          $('a[href="#SystemSettings"]').click(function () {
        closeAllProfileFormRow();
         $('#SystemSettings').show();
          $('a[href="#SystemSettings"]').addClass('active');
    });




    function closeAllProfileFormRow() {
        $('#ChangePassword').hide();
        $('#AppUserProfile').hide();
        $('#SystemSettings').hide();
        $('a[href="#AppUserProfile"]').removeClass('active');
        $('a[href="#ChangePassword"]').removeClass('active');
        $('a[href="#SystemSettings"]').removeClass('active');
    }
    }







</script>
<!-- /.row -->
